extends ../layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1= name
        p.bg-primary The name is #{name}
        p.bg-info Reduced income of #{name} is #{income}
