extends ../layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= message

        form(action='/assignment1', method='post')
          div.form-group
            label(for='firstName') FirstName :
            input#firstName.form-control(type='text', name='firstName')
          div.form-group
            label(for='lastName') LastName :
            input#lastName.form-control(type='text', name='lastName')
          button.btn.btn-primary(type='submit') Post Data
