extends ../../node_modules/pug-bootstrap/layouts/bootswatch

block body
    .container
        .row
            .col-md-8.col-md-offset-2
                h1= title
                form(action='/auth/confirm', method='post')
                    div.form-group
                        label(for='username') UserName :
                        input#username.form-control(type='text', name='username')
                    div.form-group
                        label(for='code') Code :
                        input#code.form-control(type='text', name='code')
                    button.btn.btn-primary(type='submit') Confirm