extends ../../node_modules/pug-bootstrap/layouts/bootswatch

block body
    .container
        .row
            .col-md-8.col-md-offset-2
                h1= title
                form(action='/compare/signup', method='post')
                    div.form-group
                        label(for='username') UserName :
                        input#username.form-control(type='text', name='username')
                    div.form-group
                        label(for='email') Email :
                        input#email.form-control(type='text', name='email')
                    div.form-group
                        label(for='name') Name :
                        input#name.form-control(type='text', name='name')
                    button.btn.btn-primary(type='submit') SignUp